


#connect-4  { background-color: #1489ED;   -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none;}
  #connect-4+.pedestal { background-color: #204E84; margin-right: -10px; margin-left: -10px;}
  #connect-4 .row { border-left: 3px solid #204E84; border-right: 3px solid #204E84; }
  #connect-4 .box {
    background: white;
    position: relative;
    width: 10%;
    height: 0;
    padding: 5% 0;
    margin: 2.13% 2.13%;
    border-radius: 50%;
    border: 1px solid #204E84;
    -moz-box-shadow: inset 1px 1px 5px 0px #656565;
    -webkit-box-shadow: inset 1px 1px 5px 0px #656565;
    -o-box-shadow: inset 1px 1px 5px 0px #656565;
    box-shadow: inset 1px 1px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
  }
  #connect-4 .box.yellow { background: #FFFF3F; }
  #connect-4 .box.red { background: #EF2A1C; }
  
  #connect-4 .box.red-through {animation: redPawn 0.9s ease-in;}
  #connect-4 .box.yellow-through {animation: yellowPawn 0.9s ease-in;}
  
  #connect-4 .empty.yellow-player:hover { background: #FFFF3F; opacity:0.8; }
  #connect-4 .empty.red-player:hover { background: #EF2A1C; opacity:0.8; }
  
  #connect-4 .empty { cursor: pointer;}